<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day29_struts</display-name>
  
  
  
  <!-- 配置struts2的全局过滤器 --><!-- StrutsPrepareAndExecuteFilter:struts2的全局过滤器 -->
  <filter><!-- 配置 -->
  	<filter-name>struts2</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping><!-- 映射配置 -->
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern><!-- 表示拦截所有Action -->
  </filter-mapping>
  

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>